# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/

# PyInstaller
build/
dist/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Misc
salary_v2.cpp
